.DS_Store
*pyc
.vscode
__pycache__
*.egg-info

checkpoints/
results
backup
LOG
logs/
outputs/
log_*/
*.log
prompts/512_rt1_valid_new_44k/
# 这里是我犯蠢了，我写了一个/home/NAS开头的路径保存，结果他是相对路径
home/
# prompts are irrelevant and large
prompts/
.anylearn_sdk/
prompts
drafts
script.py
scripts/models
sf_fold_npz_old/
sf_fold_npz_cumulative/
human_fold_npz/
human_folds_lerobot/
human_fold_npz_test/
trossen_fold_npz_cumulative/
trossen_fold_npz_old/
